<!-- {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %} -->

  {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">

{% block page_style %}
  <link rel="stylesheet" href=" {% static 'css/forgot-password.css' %} ">
{% endblock page_style %}

{% block title %}
  <title>Invoice Generator - Set New Password</title>
{% endblock title %}

</head>
<body>
            <!-- Forgot Password form -->

            <div class="container">
              <div class="align-items-center mt-5">
                   <div class="offset-md-1 signinform mt-5 pl-5 pr-5 pt-4 pb-4">
                       <div class="inner-form">
                    {% if validlink %}
                           <h4 class="text-center">Change password</h4>
                       <form id="loginform" method="post" >
                           <div class="form-group">
                               {% csrf_token %}
                               <input id="password" class="form-control text-center" type="password" name="" placeholder="Enter new Password here">
                           </div>
                           <button type="submit" class="btn btn-success col-md-12 pt-2 pb-2 mt-2 mb-2">Change password</button>
                        </form>
                    {% else %}
                       <p class="text2" >
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                      </p>
                    {% endif %}

                       </div>
                   </div>
               </div>
           </div>


    <!-- <h3>Forgot password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form }}
      <button type="submit">Submit</button>
    </form> -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

