{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">

{% block page_style %}
  <link rel="stylesheet" href=" {% static 'css/forgot-password.css' %} ">
{% endblock page_style %}

{% block title %}
  <title>Invoice Generator - Forgot Password</title>
{% endblock title %}

</head>
<body>
            <!-- Forgot Password form -->

            <div class="container">
              <div class="align-items-center mt-5">
                   <div class="offset-md-1 signinform mt-5 pl-5 pr-5 pt-4 pb-4">
                       <div class="inner-form">
                           <h4 class="text-center">Forgot Password</h4>
                       <form id="loginform" method="post" >
                           <div class="form-group">
                               {% csrf_token %}
                               {{ form }}
                               <!-- <input id="email" class="form-control text-center" type="email" name="" placeholder="Your e-mail address"> -->
                           </div>
                           <button type="submit" class="btn btn-success col-md-12 pt-2 pb-2 mt-2 mb-2">Reset my password</button>
                           
                       </form>
                       </div>
                   </div>
               </div>
           </div>


    <!-- <h3>Forgot password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form }}
      <button type="submit">Submit</button>
    </form> -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

