
<!-- Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="alert__wrapper"></div>
                <h4 class="text-center">Sign up</h4>
                <form id="sigupform" csrf="{{ csrf_token }}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="firt_name">First Name</label>
                        <input id="id_first_name" class="form-control" type="text" name="first_name" placeholder="John">
                        <span  id="emessage"></span>
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last Name</label>
                        <input id="id_last_name" class="form-control" type="text" name="last_name" placeholder="Doe">
                        <span  id="emessage"></span>
                    </div>
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input id="id_email" class="form-control" type="email" name="email" placeholder="eg. johndoe@example.com">
                        <span  id="emessage"></span>
                    </div>
                    <div class="form-group">
                        <label for="password1">Password</label>
                        <input id="id_password1" class="form-control" type="password" name="password1" placeholder=""> 
                        <span id="pmessage" ></span>
                    </div>
                    <div class="form-group">
                            <label for="password2">Password Confirmation</label>
                            <input id="id_password2" class="form-control" type="password" name="password2" placeholder=""> 
                            <span id="pmessage" ></span>
                        </div>
                    <div class="clearfix">
                        <div class="float-left">

                        </div>
        
                    </div>
                    <button type="submit" class="btn btn-success col-md-12 pt-2 pb-2 mt-2 mb-2">Register</button>
                    <div class="clearfix">
                        <div class="float-left">

                        </div>
                        <div class="float-right">
                            <p>Already have an account? <a class="login_btn" href="" style="color:#07EDD6;">Sign In</a></p>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal Ends -->