/* @import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap"); */

* {
  /* font-family: "Ubuntu", sans-serif; */
  color: #0d0d0d;
  overflow-x: hidden;
}

.btn:hover {
  background-color: #06c7b4 !important;
}

.btn:focus {
  background: #2c988e !important;
}

h1 {
  font-size: 36px;
  line-height: 41px;
  color: #f2f2f2;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p {
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: 992px) {
  h1 {
    font-size: 48px;
    line-height: 55px;
  }

  p {
    font-size: 18px;
    line-height: 24px;
  }
}
