body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 200;
    height: 100%;
}

h4 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 32px;
    padding: 20px;
}

.signinform {
    border: thin #c4c4c4 solid;
    border-radius: 1% 1% 1% 1%;
    max-width: 500px;
    margin: auto;
}

a {
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #000;
}


form#loginform button{
    background:#07E0CB;
    border: none;
}

form#loginform button:hover {
    background:#06C7B4;
    border: none;
}

 div.floatright a, div.floatright p{
     font-size: 16px;
 }

.inner-form {
    padding: 10px 0 30px 0;
}

.mt-5 {
    padding: 50px ;
}

@media only screen and (max-width: 770px) {
    
    h2{
        font-size: 2px larger;
    }
    h5{
        font-size: larger;
    }
    .signinform {
        width: 85%;
        margin-left: 8%;
    }
    
    .welcome h1{
    font-size:3em;
    }
}
 