/* @import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap"); */

* {
  /* font-family: "Ubuntu", sans-serif; */
  color: #0d0d0d;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: #0d0d0d;
}

.underlay {
  background: url("../images/3992745.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0px 0px 5px 5px;
}

.overlay {
  background: rgba(6, 199, 180, 0.5);
  border-radius: 0px 0px 5px 5px;
}

h1 {
  font-size: 36px;
  line-height: 41px;
  color: #f2f2f2;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h5 {
  font-size: 24px;
  line-height: 28px;
}

h6 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
}

p {
  font-size: 14px;
  line-height: 24px;
}

h1.text-center{
  margin-bottom: 45%;
  margin-top: 45%;
}

.text-content li {
  list-style-position: inside;
}

@media (min-width: 992px) {
  h1 {
    font-size: 48px;
    line-height: 55px;
  }
  
.jumbotron {
  height: calc(100vh - 53px);
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.712);
}

h5 {
  font-size: 36px;
  line-height: 41px;
}

h6 {
  font-size: 24px;
  line-height: 28px;
}

p {
  font-size: 18px;
  line-height: 24px;
}
}

@media (min-width: 1200px) {
h1.text-center{
  margin-bottom: 45%;
  margin-top: 45%;
}



  .bd-toc {
    height: calc(100vh - 1rem);
    overflow-y: hidden;
  }

  .toc-entry {
    display: block;
}

  .section-nav {
    padding-left: 0;
    border-left: 1px solid #8c8c8c;
  }
  .section-nav li {
    margin-left: 1rem;
    margin-bottom: 10px;
  }

  .section-nav li a {
    font-size: 18px;
    line-height: 21px;
    color: #565555;
  }
}
