body {
    font-family: 'Ubuntu', sans-serif;
    font-style: 20px;
    line-height: 1.5;
    font-weight: bold;
    width: 100%;
}

.settings-modal {
    /*display: none;*/
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: #ccc;
   /* background: #F2F3F3;*/
    background-size: 100%;
}



.settings-form{
    background: #ffffff;
    width: 80%;
    margin: 40px auto;
    height: auto;
    border-top: 5px solid #0ABAB5;
    padding: 38px 50px 86px 50px;
}

.closebtn {
    color: #ccc;
    float: right;
    font-size: 30px;
}

.closebtn:hover,
.closebtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.upload-area {
    width: 100%;
    height: 106px;
    border: 1px dashed #ccc;
}

.text-grey {
    color: #ccc;
    text-align: center;
    padding: 5%;
    font-weight: normal;
    clear: both;

}

.brand-color {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
}

.text-bc {
    font-size: 1.5em;
    font-weight: 300;
}

.colors-box {
    background-color: white;
    width: auto;
    height: 35px;
    padding: 0;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row-reverse;

}

.colors {
    background-color: #ffffff;
    height: 100%;
    width: 30px;
    border: none;
    padding: 0;
    margin: 0;
    float: left;
    offset: none;
    outline: none;
}

.color-text {
    border: 0px solid red;
    border: 1px solid #ccc;
    font-size: 14px;
    font-weight: lighter;
    float: left;
    margin-top: 4px;
    margin-left: -3px;
    height: 27px;
}

.samples {
    display: flex;
    background-color: #F7F6F6;
    margin: auto;
    width: 100%;
    height: 154px;
}


.btn-text {
    background-color: #07E0CB !important;
    color: #ffffff;
    font-size: 20px;
    width: 50%;
    margin-right: 10%;
    margin-top: 9%;
    height: 50px;
    text-align: center;
}

.title-text {
    color: #07E0CB;
    font-size: 20px;
    margin: 60px 55px;
    width: 50%;
}

.save-set {
    background-color: #07E0CB;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 24px;
    color: #ffffff;
}

.button_1 {
    width: 30%;
    height: 45px;
    background-color: #07E0CB;
    color: #ffffff;
    font-size: 24px;
    margin-top: 55px;
    border: none;
}

.button_2 {
    width: 100%;
    height: 50px;
    background-color: #07E0CB;
    color: #ffffff;
    border: none;
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
}

.button_1:hover {
    background-color: #06C7B4;
    transition-delay: .3s;
    transition-timing-function: linear;
    transition-delay: .1s;
}

.button_2:hover {
    background-color: #06C7B4;
    transition-delay: .3s;
    transition-timing-function: linear;
    transition-delay: .1s;
}

@media screen and (max-width:1125px) {
    .button_1 {
        font-size: 20px;
    }
}

@media screen and (max-width:980px) {
    .button_1 {
        font-size: 15px;
        font-weight: bold;
    }

    .title-text {
        font-size: 20px;
    }
}

@media screen and (max-width:900px) {
    .button_1 {
        font-size: 15px;
        font-weight: bold;
    }

    .title-text {
        font-size: 20px;
    }

    .samples {
        height: 130px;
    }
}

@media screen and (max-width:810px) {
    .button_1 {
        font-size: 10px;
        font-weight: normal;
        width: 135px;
        height: 40px;
        margin-right: 40px;
    }

    .sample {
        height: 100px;
    }

    .title-text {
        font-size: 15px;
        margin-left: 20px;
        margin-top: 60px;
    }
}

@media screen and (max-width:630px) {
    .title-text {
        width: 160px;
    }
}

@media screen and (max-width:430px) {
    body {
        font-size: 15px;
    }

    .title-text {
        width: 160px;
    }

    .samples {
        height: 100px;
    }

    .button_2 {
        height: 50px;
        font-size: 12px;
    }

    .colors-box {
        width: 100px;
        height: 22px;
        margin-left: -10%;
    }

    .colors {
        min-height: 22px;
        width: 30px;
    }

    .color-text {
        font-size: 12px;
        width: 100px;
        margin-top: 0%;
    }
}

@media only screen and (max-width: 431px) {
    .upload-area {
        font-size: 1px larger;
    }

    .brand-color {
        font-weight: normal;
    }

    .text-bc {
        width: 60px;
        font-size: 11px;
        text-align: center;
        margin-right: 40px;
    }

    input {
        margin-right: 270px;
    }

    .modal-content {
        padding: 36px 60px 70px 60px;
        width: 50%;
    }

    .button_1 {
        margin-right: 15px;
        margin-top: 30px;
    }

    .button_2 {
        font-size: 12px;
    }

    .title-text {
        font-size: 12px;
        margin-top: 30px;
        margin-left: 5px;
        margin-bottom: 80px;
    }

    .colors-box {
        width: 100px;
        height: 22px;
    }

    .colors {
        min-height: 22px;
        width: 30px;
    }

    .color-text {
        font-size: 12px;
        width: 100px;
    }
}

@media only screen and (max-width: 360px) {
    .upload-area {
        font-size: 1px larger;
    }

    .brand-color {
        font-weight: normal;
    }

    .text-bc {
        font-size: 11px;
        text-align: center;
        margin-right: 40px;
    }

    input {
        margin-left: 10px;
    }

    .modal-content {
        padding: 36px 60px 70px 60px;
        width: 50%;
    }

    .button_1 {
        margin-right: 15px;
        margin-top: 30px;
    }

    .button_2 {
        font-size: 12px;
    }

    .title-text {
        font-size: 12px;
        margin-top: 30px;
        margin-left: 5px;
        margin-bottom: 80px;
    }

    .colors-box {
        width: 100px;
        height: 22px;
    }

    .colors {
        min-height: 22px;
        width: 30px;
    }

    .color-text {
        font-size: 12px;
        width: 100px;
    }
}