body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 200;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 72px;
}

h4 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 32px;
}

.pass-changed {
    border: thin #c4c4c4 solid;
    border-radius: 6px 6px 6px 6px;
}

a {
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #000;
}

.btn-success {
    background-color: #0ABAB5;
    border: thin #0ABAB5 solid;
}

.btn-success:hover {
    background-color: #0ABAB5;
    border: thin #0ABAB5 solid;
}
.p-last {
    line-height: 0.5px;
}

.mt-5 {
    max-width: 500px;
    
}

.container {
    padding: 100px;
}