{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>InvoiceIt - Create Invoice</title>
{% endblock title %}
{% block page_style %}
    <link rel="stylesheet" href="{% static 'css/contact-support.css' %}">
{% endblock page_style %}


{% block content %}
<div class="main-cont">
    <div class="header">
      <h3>Contact Support</h3>
      <div class="header-items">
        <div>
          <a href="#"><img src="https://res.cloudinary.com/slarin/image/upload/v1570685957/contact-support/help_pvv3ie.svg" class="header-icon"></a>
          <a href="#"><p>Support</p></a>
        </div>
        <div>
          <a href="#"><img src="https://res.cloudinary.com/slarin/image/upload/v1570685957/contact-support/notification_1_ddc0vh.svg" class="header-icon"></a>
        </div>
        
      </div>
    </div>

     <div class="content">
      <img src=" {% static 'images/undraw_contact_us_15o2.svg' %} " alt="contact help" class="hero-img">
      <h4>Read the frequently asked questions <a href="{% url 'faq' %}">here</a><br>or send us a message</h4>

      <form class="contact-form">
        <label for="subject" class="form-label">Subject</label>
        <input type="text" class="inpt px-2 py-3">
        <label for="message" class="form-label">Message</label>
        <textarea rows="15" class="txt-area p-2"></textarea>
        <button class="contact-form-btn">Send</button>
      </form>
    </div>

  </div>
{% endblock content %}

{% block page_script %}
{% endblock page_script %}