{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>InvoiceIt - FAQ</title>
{% endblock title %}
{% block page_style %}
    <link rel="stylesheet" href="{% static 'css/faq.css' %}">
{% endblock page_style %}

{% block content %}

    <div class="block">
        <div class="block__banner">
            <h1>Frequently asked questions</h1>
        </div>
        <div class="block__mainsection">
            <div class="block__question">
                <h4 class="block__question__header">What is an InvoiceIt?
                    <span class="block__question__header__btn"><i class="fas fa-angle-right"></i></span>
                </h4>
                <p class="block__question__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="block__question">
                <h4 class="block__question__header">How to use InvoiceIt
                    <span class="block__question__header__btn"><i class="fas fa-angle-right"></i></span>
                </h4>
                <p class="block__question__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="block__question">
                <h4 class="block__question__header">How to a send invoice?
                    <span class="block__question__header__btn"><i class="fas fa-angle-right"></i></span>
                </h4>
                <p class="block__question__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="block__question">
                <h4 class="block__question__header">Is InvoiceIt free?
                    <span class="block__question__header__btn"><i class="fas fa-angle-right"></i></span>
                </h4>
                <p class="block__question__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="block__question">
                <h4 class="block__question__header">How fast is InvoiceIt?
                    <span class="block__question__header__btn"><i class="fas fa-angle-right"></i></span>
                </h4>
                <p class="block__question__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="block__question">
                <h4 class="block__question__header">How to export invoice?
                    <span class="block__question__header__btn"><i class="fas fa-angle-right"></i></span>
                </h4>
                <p class="block__question__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>

    {% endblock content %}

    {% block page_script %}
        <script src="{% static 'js/faq.js' %}" ></script>
    {% endblock page_script %}
    