{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>InvoiceIt | Privacy-policy</title>
{% endblock title %}
{% block page_style %}
    <link rel="stylesheet" href="{% static 'css/privacy-policy.css' %}">
{% endblock page_style %}

{% block content %}

<div class="container-fluid">
    <div class="container">
        <div class="topbar">
            <h1>Privacy Policy</h1>
            <p>Updated 25th May 2020</p>
        </div>
        <div class="privacy-body">
            
            <div>
                <h3>Overview</h3>
                <p>  
                     Lorem ipsum dolor sit amet consectetur, adipisicing elit. V
                     elit sapiente aliquid ipsa 
                     libero delectus expedita unde. Alias reiciendis iusto ea?
                 </p> 
            </div>

            <div>
                <h3>Consent and Information Collection use</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    In, laborum. Harum recusandae 
                    iure eius beatae quod facilis obcaecati? Quia, vel.
                </p>
            </div>
            <div>
                <h3>Consent and Information Collection use</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    In, laborum. Harum recusandae 
                    iure eius beatae quod facilis obcaecati? Quia, vel.
                </p>
            </div>
            <div>
                <h3>Consent and Information Collection use</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    In, laborum. Harum recusandae 
                    iure eius beatae quod facilis obcaecati? Quia, vel.
                </p>
            </div>
            <div class="d-flex ">
                <button class="privacy-btn privacy-btn1"> cancel </button>
                <button class="privacy-btn" >Agree</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}